/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* ajout class */
.containerbouton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 7px;
}
.style {
  border: solid 1px rgba(29, 97, 84, 1);
  border-radius: 60px;
  color: rgba(29, 97, 84, 1);
  background-color: white;
  font-family: "Syne";
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  padding: 5px 15px;
}

.fullbutton {
  color: white;
  background-color: rgba(29, 97, 84, 1);
}

.forget {
  margin: auto;
  font-size: 14px;
  font-weight: 500;
  font-family: "Work Sans";
  color: rgba(61, 61, 61, 1);
  border-bottom: 1px solid rgba(61, 61, 61, 1);
  width: max-content;
}

.decoration {
  text-decoration: none;
  color: black;
}
.decoration:hover {
  color: #b1663c;
}

#login {
  font-weight: 600;
}

.size {
  margin-top: 100px;
  height: 600px;
}

.erreur {
  color: red;
  margin: auto;
  margin-top: 30px;
}

.barreAdmin {
  z-index: -1;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 20px 0;
  background-color: black;
  height: 59px;
  gap: 5px;
}
.barreAdmin > i {
  color: white;
}

.modale {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.modale-content {
  background-color: white;
  padding: 55px 50px 50px 50px;
  border-radius: 10px;
  height: max-content;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  position: relative;
}

.close {
  top: 20px;
  right: 30px;
  font-weight: 700;
  position: absolute;
}

.return {
  top: 21px;
  left: 30px;
  font-weight: 700;
  position: absolute;
}

.miniGallery img {
  width: 75px;
  height: 102px;
  object-fit: cover;
}
.title {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  font-family: "Work Sans";
  font-size: 26px;
}
.miniGallery {
  display: flex;
  width: 415px;
  row-gap: 25px;
  column-gap: 10px;
  padding-bottom: 40px;
  margin-bottom: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: rgba(179, 179, 179, 1) 1px solid;
}
.StyleAjout {
  font-family: "Syne";
  font-size: 14px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(29, 97, 84, 1);
  border-radius: 60px;
  text-align: center;
  padding: 10px 45px;
  border: rgba(29, 97, 84, 1);
  margin-left: 95px;
}
.edit {
  color: black;
  font-weight: 400;
  font-size: 14px;
  font-family: "Work Sans";
  justify-content: space-between;
}
.edit > i {
  margin-right: 10px;
  margin-left: 15px;
}
.organisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 65px;
}
.position {
  position: relative;
}
.trash_icone {
  color: white;
  background-color: black;
  padding: 2px 4px;
  position: absolute;
  right: 7px;
  bottom: 80px;
  border-radius: 3px;
}
.add {
  background-color: rgba(232, 241, 246, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 3px;
  width: 350px;
}
.add > i {
  color: rgba(185, 197, 204, 1);
  font-size: 70px;
  margin-bottom: 10px;
}
#addpicture {
  display: none;
}
.tailleImage {
  height: 190px;
  width: 130px;
  object-fit: cover;
}
.boutonpicture {
  background-color: rgba(203, 214, 220, 1);
  color: rgba(48, 102, 133, 1);
  border-radius: 50px;
  padding: 10px 35px;
}
.txt {
  font-size: 10px;
  font-family: "Work Sans";
  font-weight: 400;
  margin-top: 20px;
}

.ajout {
  display: flex;
  flex-direction: column;
  width: max-content;
  justify-content: center;
  margin-top: 10px;
  margin: auto;
  font-size: 14px;
  font-weight: 500;
}

.designInput {
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  border: white 1px solid;
  width: 400px;
  height: 44px;
  margin-bottom: 25px;
  margin-top: 5px;
}
.ajout > input {
  height: 40px;
}
.ajout > label {
  margin-bottom: 10px;
}
.border {
  display: block;
  border-top: solid 1px rgba(167, 167, 167, 1);
  margin: 15px 0px 0px 0px;
  width: 400px;
  justify-content: center;
}
.heightPicture {
  width: 200px;
  height: 200px;
}
input[type="submit"].disabled {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(167, 167, 167, 1);
  width: 235px;
  margin-bottom: 0px;
}
.hidden {
  display: none;
}
